#card {
    border-radius: 5px;
    position: relative;
    max-width: 30px;
    object-fit: cover;
    margin-right: 2px;
    border: 1px solid transparent;
}
#card-wrapper {
    overflow: hidden;
}
/* #card-wrapper:last-child {
    overflow: visible;
} */
#card.selected{
    border: 1px solid red;
    box-shadow: rgba(170, 0, 0, 0.35) 0px 5px 15px;
    /* top: -10px; */
}
#group {
    height: 100%;
    display: inline-flex;
    max-height: 140px;
    flex-direction: column;
    align-content: end;
    justify-content: end;
}
#cards {
    display: inline-flex;
    white-space: nowrap;
    align-items: end;
    overflow-x: hidden;
    overflow-y: visible;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
body {
    background-color:darkgray;
}