#card {
    position: relative;
    max-width: 30px;
    object-fit: cover;
    margin-right: 2px;
    border: 1px solid transparent;
}
#card-wrapper {
    border-radius: 5px;
    overflow: hidden;
    width: 30px;
    height: 45px;
}
#card-wrapper.pao-card::before {
    content: "抛";
}
#card-wrapper.ding-card::before {
    content: "钉";
}
#card-wrapper.pao-card::before,
#card-wrapper.ding-card::before {
    position: absolute;
    z-index: 1;
    font-size: 0.6em;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 2px;
}
/* #card-wrapper:last-child {
    overflow: visible;
} */
#card.selected{
    border: 2px solid red;
    box-shadow: rgba(170, 0, 0, 0.35) 0px 5px 15px;
    /* top: -10px; */
}
#group {
    height: 100%;
    display: inline-flex;
    max-height: 140px;
    flex-direction: column;
    align-content: end;
    justify-content: end;
}
#cards {
    display: inline-flex;
    white-space: nowrap;
    align-items: end;
    overflow-x: hidden;
    overflow-y: visible;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#jing {
    position: absolute;
    left: 250px;
}

#left,
#right,
#me {
    height: 150px;
    width: 200px;
    border-radius: 10px;
    position: fixed;
    background-color: aliceblue;
    padding: 10px;
}
#left-cards,
#right-cards,
#my-out-cards {
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap:3px;
    border-bottom: 1px solid black;
}
#left-pairing,
#right-pairing,
#my-pairing {
    height: 50px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap:3px;
}
#left {
    top: 10px;
    left: 10px;
}
#right {
    top: 10px;
    right: 10px;
}
#me {
    bottom: 10px;
    left: 10px;
}
#button-group{
    position: absolute;
    right: 230px;
    bottom: 100px;
}
body {
    background-color:darkgray;
}

.hide {
    display: none !important;
}

#room {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#room #start {
    width: 100px;
}

#room .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#room .container #player {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: lightblue;
    margin: 10px;
}

#result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#result #lose {
    color: green;
    font-size: 8em;
}
#result #win {
    color: red;
    font-size: 8em;
}